<div class="pageContents">
  <h1>Customers</h1>
</div>

<div class="pageContents">

<a class="link" href="/customers/new">Create New Customer</a>

 <% for customer in @customers %>
   <p>Name: <a href="/customers/<%= customer.id %>"><%= customer.full_name() %></a></p>
   <p>Email: <%= customer.email %></p>
   <p>Tel: <%= customer.tel_number %></p>

 <% end %>

</div>
