<div class="pageTitle">
  <h1>Rentals</h1>
</div>

<div class="pageContents">
<% for rental in @rentals %>
<p>Type: <%= rental.type  %></p>
<p>Colour: <%= rental.colour %></p>
<p>Rental Price: <%= rental.price %></p>

<% end %>
</div>
