<div class="pageTitle">
  <h1>Rentals</h1>
</div>

<div class="pageContents">
<% for rental in @rentals %>
<div class="stock">
  <p>Type: <%= rental.type  %></p>
  <p>Colour: <%= rental.colour %></p>
  <p>Rental Price: £<%= rental.price %></p>
</div>
<% end %>
</div>
