body {
  background: black url('/images/background.jpeg');
  background-size: 100%;
  background-repeat: no-repeat;
}

div.wrapper {
  margin-top: 5%;
  background-color: #424C55;
  color: black;
  opacity: 0.6;
  text-align: center;
  max-height: 90%;
}

.container {
  justify-content: space-around;
  display: inline-flex;
  align-content: flex-start;
  width: 100%;
  background-color: #424C55;
  opacity: 0.7;
  border-style: double;
  padding: 5px;
}

.container a {
  color: #AEA3B0;
}

h1 {
  font-size: xx-large;
}

main p {
  font-weight: bold;
}


div.stock {
  align-content: space-between;
  border-style: double;
}

div.pageTitle {
  border-style: double;
}

div.pageContents {
  border-style: double;
  font-weight: bold;
}

div.wrapper.column {
  float: left;
  flex: 50%;
}
a.link {
  color: black;
}
