body {
  background: black url('/images/background.jpeg');
  background-size: 100%;
  background-repeat: no-repeat;
}

div.wrapper {
  margin-top: 5%;
  background-color: antiquewhite;
  color: black;
  opacity: 0.6;
  text-align: center;
  max-height: 90%;
}

div.wrapper div.pageTitle h1 {
  opacity: 1;
}

div.home div.pageTitle {
  background-color: antiquewhite;
}

.container {
  justify-content: space-around;
  display: inline-flex;
  align-content: flex-start;
  width: 100%;
  background-color: #424C55;
  opacity: 0.7;
  border-style: double;
  padding: 8px;
}

.container a {
  color: antiquewhite;
}

h1 {
  font-size: xx-large;
}

main p {
  font-weight: bold;
}


div.stock {
  align-content: space-between;
  border-style: double;
  display: inline-block;
  background-color: white;
  padding: 5px;
  margin: 5px;
}

div.customer {
  width: 250px;
  height:  130px;
}

div.pageTitle {
  border-style: double;
  background: antiquewhite;
}

div.pageContents {
  border-style: double;
  font-weight: bold;
  background-color: antiquewhite;
}

div.wrapper.column {
  float: left;
  flex: 50%;
}

div.custShow {
  align-content: space-between;
  border-style: double;
  background-color: white;
  padding: 5px;
  margin: 5px;
  width: 40%;
  display: inline-block;
}

a.link {
  color: cornflowerblue;
  padding: 8px;
  margin: 8px;
}

.formRow label {
  width: 111px;
  display: inline-block;
  text-align: left;
}

.formRow input {
  display: inline-block;
}

div.formRow {
  padding: 4px;
  background: antiquewhite;
}
