<form method="post" action="/stock">
  <label for="type">Type:</label>
  <input id="type" type="text" name="type"/>

  <label for="colour">Colour:</label>
  <input id="colour" type="text" name="colour"/>

  <label for="price">Rental Price:</label>
  <input id="price" type="text" name="price">

  <input type="submit" value="Submit New Stock Item"/>

</form>
