<h1>Stock</h1>

<% for stock in @stock %>
  <p>Type: <%= stock.type() %></p>
  <p>Colour: <%= stock.colour %></p>
  <p>Price: <%= stock.price %></p>


<form method="post" action="/stock/<%= stock.id %>/delete">
  <input name="_method" type="hidden" value="delete">
  <input type="submit" value="Delete Stock Item">
</form>


<% end %>
